header {
    background-color: #039be5;
    height: 100px;
    position: relative;  
}

.add {
    position: absolute;
    left: 10px;
    top: 70px;
    background-color: red;
}

.return {
    position: absolute;
    left: 80px;
    top: 70px;
    background-color: blue;
}

